.DS_Store
.env*
!.env.example
*.notes.md
localstorage.json
.notes/
node_modules/
build/
/world*

/.swarm*
/.claude-flow*
/code_search_index*
/.hive-mind*
code_search_index*
/.sequential-thoughts*
/.call_overflow*.vexify.db
